@model EPG.Models.PlanEvent

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <div class="main">
        <div class="epg-player-info">
            <div class="epg-player-info-inner">
                <div class="seekbar-main">

                    <ul class="time-limit-info">
                        <li>00:00</li>
                        <li>01:00</li>
                        <li>02:00</li>
                        <li>03:00</li>
                        <li>04:00</li>
                        <li>05:00</li>
                        <li>06:00</li>
                        <li>07:00</li>
                        <li>08:00</li>
                        <li>09:00</li>
                        <li>10:00</li>
                        <li>11:00</li>
                        <li>12:00</li>
                        <li>13:00</li>
                        <li>14:00</li>
                        <li>15:00</li>
                        <li>16:00</li>
                        <li>17:00</li>
                        <li>18:00</li>
                        <li>19:00</li>
                        <li>20:00</li>
                        <li>21:00</li>
                        <li>22:00</li>
                        <li>23:00</li>
                        <li>00:00</li>
                    </ul>
                    <div class="progress-line-parent"><div class="progress-line" id="now-move">Now</div></div>
                </div>


                <div class="program-list slider-show-list">

                    <div class="inner-slider-show-list program-info-list">



                    </div>

                </div>


                <div class="clear"></div>
                <div class="week-info">
                    <button class="left-btn"> <img src="images/arrow-left.png" alt="left arrow" /> </button>
                    <ul class="week-info-list">
                        <li>Monday</li>
                        <li>Tuesday</li>
                        <li>Wednesday</li>
                        <li>Thursday</li>
                        <li>Friday</li>
                        <li>Saturday</li>
                        <li>Sunday</li>
                    </ul>
                    <button class="right-btn"><img src="images/arrow-right.png" alt="right arrow" /></button>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    
    <script src="~/Scripts/js/script2.js"></script>